
<div id='about_div'>
	<h2>Status of Site</h2>
	<p>Currently only of a few monitors listed, and plan on adding more and possibly other products besides monitors.If you have a comments or requests about this humble site please email me using the form below.Thanks for visting!
</div>
<div id='email_div'>
	<label>Name</label><br>
	<input type="text">
	<br>
	<lable>Your Email</label><br>
	<input type="text">
	
	<lable>Message</label><br>
	<textarea></textarea><br>

	<input type="submit" value="Send Email",id="email_btn">
</div>